<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <meta charset="utf-8" >  -->
    <meta charset="utf-8"> 

    <title>市場分析圖</title>
    <!-- <meta charset="UTF-8">
    <title>首頁</title> -->
</head>
<body>
    <h1>分析{{name}}完畢囉～</h1>
    <h2>{{name}}</h2>
    <input type="button" value="首頁" onclick="location.href='/test_a'">
	<input type="button" value="爬蟲" onclick="location.href='/test_b'">
	<input type="button" value="畫圖" onclick="location.href='/test_c'">
    <br>
    <br>
    <br>
    <br>
    <!-- <img src="static/{{keyword_png}}_文字雲.png" alt="圖片" />
    <img src="static/{{keyword_png}}_正負評價比_各品牌.png/" alt="圖片" />
    <img src="static/{{keyword_png}}_品牌網路聲量圖.png/" alt="圖片" />
    <img src="static/{{keyword_png}}_網友在意面向圖.png/" alt="圖片" /> -->
    <img src="static/{{name}}_文字雲.png" alt="圖片" />
    <img src="static/{{name}}_正負評價比_各品牌.png/" alt="圖片" />
    <img src="static/{{name}}_品牌網路聲量圖.png/" alt="圖片" />
    <img src="static/{{name}}_網友在意面向圖.png/" alt="圖片" />

</body>
</html>