<!doctype html>
<html lang="zh-Hant-TW">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Meta -->
		<meta name="description" content="Responsive Bootstrap4 Dashboard Template">
		<meta name="author" content="ParkerThemes">
		<link rel="shortcut icon" href="img/fav.png">

		<!-- Title -->
		<title>農純鄉backstage</title>


		<!-- *************
			************ Common Css Files *************
		************ -->
		<!-- Bootstrap css -->
		<link rel="stylesheet" href="css/bootstrap.min.css">
		
		<!-- Icomoon Font Icons css -->
		<link rel="stylesheet" href="fonts/style.css">

		<!-- Main css -->
		<link rel="stylesheet" href="css/main.css">


		<!-- *************
			************ Vendor Css Files *************
		************ -->

		<!-- Mega Menu -->
		<link rel="stylesheet" href="vendor/megamenu/css/megamenu.css">

		<!-- Search Filter JS -->
		<link rel="stylesheet" href="vendor/search-filter/search-filter.css">
		<link rel="stylesheet" href="vendor/search-filter/custom-search-filter.css">

		<!-- Date Range CSS -->
		<link rel="stylesheet" href="vendor/daterange/daterange.css">

	</head>
	<body>
		<!-- Loading wrapper start -->
		<div id="loading-wrapper">
			<div class="spinner-border"></div>
			Loading...
		</div>
		<!-- Loading wrapper end -->
				
		<!-- Page wrapper start -->
		<div class="page-wrapper">
			
			<!-- Sidebar wrapper start -->
			<nav class="sidebar-wrapper">

				<!-- Sidebar content start -->
				<div class="sidebar-tabs">

					<!-- Tabs nav start -->
					<div class="nav" role="tablist" aria-orientation="vertical">
						<a href="saas.html" class="logo">
							<img src="img/logo.png">
						</a>
						<a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#tab-home" role="tab" aria-controls="tab-home" aria-selected="false">
							<i class="icon-home2"></i>
							<span class="nav-link-text">主頁</span>
						</a>
						<a class="nav-link" id="product-tab" data-bs-toggle="tab" href="#tab-product" role="tab" aria-controls="tab-product" aria-selected="false">
							<i class="icon-layers2"></i>
							<span class="nav-link-text">會員</span>
						</a>
						<a class="nav-link" id="forms-tab" data-bs-toggle="tab" href="#tab-forms" role="tab" aria-controls="tab-forms" aria-selected="false">
							<i class="icon-edit1"></i>
							<span class="nav-link-text">產品</span>
						</a>
						<a class="nav-link" id="graphs-tab" data-bs-toggle="tab" href="#tab-graphs" role="tab" aria-controls="tab-graphs" aria-selected="false">
							<i class="icon-pie-chart1"></i>
							<span class="nav-link-text">市場</span>
						</a>
					</div>
					<!-- Tabs nav end -->

					<!-- Tabs content start -->
					<div class="tab-content">
								
						<!-- Chat tab -->
						<div class="tab-pane fade show active" id="tab-home" role="tabpanel" aria-labelledby="home-tab">

							<!-- Tab content header start -->
							<div class="tab-pane-header">
								吉康食品
							</div>
							<!-- Tab content header end -->

							<!-- Sidebar menu starts -->
							<div class="sidebarMenuScroll">
								<div class="sidebar-menu">
									<ul>
										<li>
											<a href="saas.html" class="current-page">主頁</a>
										</li>
										<li>
											<a href="calendar-selectable.html">行事曆</a>
										</li>
										<li>
											<a href="search-results.html">社群</a>
										</li>
									</ul>
								</div>
							</div>
							<!-- Sidebar menu ends -->
						</div>

						<!-- Pages tab -->
						<div class="tab-pane fade" id="tab-product" role="tabpanel" aria-labelledby="product-tab">
							
							<!-- Tab content header start -->
							<div class="tab-pane-header">
								會員資料
							</div>
							<!-- Tab content header end -->

							<!-- Sidebar menu starts -->
							<div class="sidebarMenuScroll">
								<div class="sidebar-menu">
									<ul>
										<li>
											<a href="customers-list.php">會員資料一覽</a>
										</li>
									</ul>
								</div>
							</div>
							<!-- Sidebar menu ends -->
						</div>

						<!-- Forms tab -->
						<div class="tab-pane fade" id="tab-forms" role="tabpanel" aria-labelledby="forms-tab">

							<!-- Tab content header start -->
							<div class="tab-pane-header">
								產品資料
							</div>
							<!-- Tab content header end -->

							<!-- Sidebar menu starts -->
							<div class="sidebarMenuScroll">
								<div class="sidebar-menu">
									<ul>
										<li class="list-heading">資料一覽</li>
										<li>
											<a href="products.php">商品清單</a>
										</li>
										<li>
											<a href="bestseller.php">產品銷售量</a>
										</li>
										<li>
											<a href="sales.php">產品銷售額</a>
										</li>
										<li>
											<a href="reports.php">未來趨勢圖</a>
										</li>
									</ul>									
								</div>
							</div>
							<!-- Sidebar menu ends -->
						</div>

						<!-- Graphs tab -->
						<div class="tab-pane fade" id="tab-graphs" role="tabpanel" aria-labelledby="graphs-tab">
							
							<!-- Tab content header start -->
							<div class="tab-pane-header">
								市場分析
							</div>
							<!-- Tab content header end -->
							
							<!-- Sidebar menu starts -->
							<div class="sidebarMenuScroll">
								<div class="sidebar-menu">
                                    <ul>
										<li class="list-heading">網路爬蟲</li>
                                        <li>
                                            <a href="forms-inputs.html">輸入資料</a>
                                        </li>
										<li>
											<a href="forms-dropzone.html">匯入資料</a>
										</li>
                                    </ul>
                                    <ul>
										<li class="list-heading">分析圖表</li>
                                        <li>
                                            <a href="documents.html">現有資料</a>
                                        </li>
									</ul>
								</div>
							</div>
							<!-- Sidebar menu ends -->
						</div>
						
					</div>
					<!-- Tabs content end -->

				</div>
				<!-- Sidebar content end -->
				
			</nav>
			<!-- Sidebar wrapper end -->

			<!-- *************
				************ Main container start *************
			************* -->
			<div class="main-container">

				<!-- Page header starts -->
				<div class="page-header">
					
					<!-- Row start -->
					<div class="row gutters">
						<div class="col-xl-8 col-lg-8 col-md-8 col-sm-6 col-9">

							<!-- Search container start -->
							<div class="search-container">

								<!-- Toggle sidebar start -->
								<div class="toggle-sidebar" id="toggle-sidebar">
									<i class="icon-menu"></i>
								</div>
								<!-- Toggle sidebar end -->

								<!-- Mega Menu Start -->
								<div class="cd-dropdown-wrapper">
									<a class="cd-dropdown-trigger" href="#0"><i class="icon-menu menu-icon"></i><span class="menu-text"></span></a>
									<nav class="cd-dropdown">

										<ul class="cd-dropdown-content">

											<li class="has-children">
												<a href="#">主頁</a>
												<ul class="cd-secondary-dropdown is-hidden">
													<li class="has-children">
														<a href="#">吉康食品</a>
														<ul class="is-hidden">
															<li>
																<a href="saas.html">回到主頁</a>
															</li>	
															<li>
																<a href="calendar-daygrid-view.html">行事曆</a>
															</li>												
															<li>
																<a href="search-results.html">社群</a>
															</li>		
														</ul>
													</li>
												</ul>
											</li>

											<li class="has-children">
												<a href="#">會員</a>

												<ul class="cd-secondary-dropdown is-hidden">
													<li class="has-children">
														<a href="#">會員資料</a>
														<ul class="is-hidden">
															<li>
																<a href="products.html">會員資料一覽</a>
															</li>
														</ul>
													</li>
												</ul>
											</li>

											<li class="has-children">
												<a href="#">產品</a>

												<ul class="cd-secondary-dropdown is-hidden">

													<li class="has-children">
														<a href="#">資料一覽</a>
														<ul class="is-hidden">
															<li>
																<a href="products.php">商品清單</a>
															</li>
															<li>
																<a href="bestseller.php">產品銷售量</a>
															</li>
															<li>
																<a href="sales.php">產品銷售額</a>
															</li>
															<li>
																<a href="reports.php">未來趨勢圖</a>
															</li>
														</ul>
													</li>
												</ul>
											</li>

											<li class="has-children">
												<a href="#">市場分析</a>

												<ul class="cd-secondary-dropdown is-hidden">

													<li class="has-children">
														<a href="#">網路爬蟲</a>
														<ul class="is-hidden">
															<li>
																<a href="forms-inputs.html">輸入資料</a>
															</li>
															<li>
																<a href="forms-dropzone.html">匯入資料</a>
															</li>
														</ul>
													</li>

													<li class="has-children">
														<a href="#">分析圖表</a>
														<ul class="is-hidden">
															<li>
																<a href="documents.html">現有資料</a>
															</li>
														</ul>
													</li>
												</ul>
											</li>
										</ul>
									</nav>
								</div>
								<!-- Mega Menu End -->
							</div>
							<!-- Search container end -->
						</div>
					</div>
					<!-- Row end -->					

				</div>
				<!-- Page header ends -->

				<!-- Content wrapper scroll start -->
				<div class="content-wrapper-scroll">

					<!-- Content wrapper start -->
					<div class="content-wrapper">

						<!-- Row start -->
						<div class="row gutters">
							<div class="col-xl-12">

								<!-- Dashboard header start -->
								<div class="dashboard-header">
									<div class="dashboard-header-content">

										<!-- Top Actions - DateRange and Buttons -->
										<div class="d-flex justify-content-end">
											<!-- Field wrapper start -->
											<div class="field-wrapper m-0">
												<div class="input-group">
													<input type="text" class="form-control custom-daterange2">
													<span class="input-group-text">
														<i class="icon-calendar1"></i>
													</span>
												</div>
												<div class="field-placeholder">Select Date</div>
											</div>
											<!-- Field wrapper end -->
											<a href="#" class="btn"><i class="icon-download1"></i> <span>Reports</span></a>
										</div>

										<!-- Welcome Title -->
										<div class="welcome-title">
											<h1>第三屆T大使 x <span>吉康食品</span>
												<span class="winner-icon">
													<img src="img/trophy.svg" alt="trophy">
												</span>
											</h1>
										</div>

										<!-- Sales Tiles COntainer -->
										<div class="sales-tile-container">
											<div class="sales-tile">
												<h1>21</h1>
												<h6>Sales</h6>
											</div>
											<div class="sales-tile">
												<h1>35</h1>
												<h6>Orders</h6>
											</div>
											<div class="sales-tile">
												<h1>60</h1>
												<h6>Products</h6>
											</div>
										</div>
									</div>
								</div>
								<!-- Dashboard header end -->

                            </div>
						</div>
						<!-- Row end -->

						<!-- Row start -->
						<div class="row gutters">
							<div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12">
								<div class="card">
									<div class="card-header">
										<div class="card-title">Weekly Sales</div>
									</div>
									<div class="card-body">
										<div id="sales"></div>
									</div>
								</div>
							</div>
							<div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
								<div class="card">
									<div class="card-header">
										<div class="card-title">Revenue</div>
									</div>
									<div class="card-body">
										<div id="revenue"></div>
									</div>
								</div>
							</div>
							<div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
								<div class="card h-320">
									<div class="card-header">
										<div class="card-title">Statistics</div>
									</div>
									<div class="card-body">
										<ul class="statistics">
											<li>
												<span class="stat-icon">
													<i class="icon-eye1"></i>
												</span>
												A new ticket opened.
											</li>
											<li>
												<span class="stat-icon">
													<i class="icon-thumbs-up1"></i>
												</span>
												That's A great idea!
											</li>
											<li>
												<span class="stat-icon">
													<i class="icon-star2"></i>
												</span>
												Tell us what you think.
											</li>
											<li>
												<span class="stat-icon">
													<i class="icon-shopping-bag1"></i>
												</span>
												A new item sold.
											</li>
											<li>
												<span class="stat-icon">
													<i class="icon-check-circle"></i>
												</span>
												Design approved.
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
								<div class="card h-320">
									<div class="card-header">
										<div class="card-title">Todo's</div>
									</div>
									<div class="card-body">
										<div class="todo-container">
											<ul class="todo-body">
												<li class="todo-list done">
													<div class="todo-info">
														<span class="dot blue"></span>
														<p>Team Meeting</p>
														<p class="dt">@ 9:30 AM</p>
													</div>
												</li>												
												<li class="todo-list done">
													<div class="todo-info">
														<span class="dot orange"></span>
														<p>Interview</p>
														<p class="dt">@ 11:30 AM</p>
													</div>
												</li>
												<li class="todo-list done">
													<div class="todo-info">
														<span class="dot yellow"></span>
														<p>Product Launch</p>
														<p class="dt">@ 12:30 PM</p>
													</div>
												</li>
												<li class="todo-list">
													<div class="todo-info">
														<span class="dot blue"></span>
														<p>Team Meeting</p>
														<p class="dt">@ 2:30 PM</p>
													</div>
												</li>
												<li class="todo-list">
													<div class="todo-info">
														<span class="dot green"></span>
														<p>Code Review</p>
														<p class="dt">@ 5:00PM</p>
													</div>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
								<div class="card h-320">
									<div class="card-header">
										<div class="card-title">Top Rated Items</div>
									</div>
									<div class="card-body">

										<div class="top-items-container">
											<div id="topRatedItems" class="carousel carousel-fade slide" data-bs-ride="carousel">
											  <div class="carousel-inner">
													<div class="carousel-item active">
														<img src="img/stock/img9.jpg" class="img-fluid top-item-img" alt="...">
														<div class="top-item-details">
															<h6>Coffee Crunch</h6>
															<div class="rating-block">																
																<div class="rate2"></div>
																<div class="rating-count">(97)</div>
															</div>
														</div>
													</div>
													<div class="carousel-item">
														<img src="img/stock/img10.jpg" class="img-fluid top-item-img" alt="...">
														<div class="top-item-details">
															<h6>Fruit Salad</h6>
															<div class="rating-block">
																<div class="rate4"></div>
																<div class="rating-count">(25)</div>
															</div>
														</div>
													</div>
													<div class="carousel-item">
														<img src="img/stock/img9.jpg" class="img-fluid top-item-img" alt="...">
														<div class="top-item-details">
															<h6>Vegetable Salad</h6>
															<div class="rating-block">																
																<div class="rate3"></div>
																<div class="rating-count">(43)</div>
															</div>
														</div>
													</div>
											  </div>
												<a class="carousel-control-prev" href="#topRatedItems" role="button" data-bs-slide="prev">
													<span class="carousel-control-prev-icon" aria-hidden="true"></span>
												</a>
												<a class="carousel-control-next" href="#topRatedItems" role="button" data-bs-slide="next">
													<span class="carousel-control-next-icon" aria-hidden="true"></span>
												</a>
											</div>
										</div>

									</div>
								</div>
							</div>
						</div>
						<!-- Row end -->		

					</div>
					<!-- Content wrapper end -->

					<!-- App Footer start -->
					<div class="app-footer">©第三屆T大使 2022</div>
					<!-- App footer end -->

				</div>
				<!-- Content wrapper scroll end -->

			</div>
			<!-- *************
				************ Main container end *************
			************* -->

		</div>
		<!-- Page wrapper end -->

		<!-- *************
			************ Required JavaScript Files *************
		************* -->
		<!-- Required jQuery first, then Bootstrap Bundle JS -->
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.bundle.min.js"></script>
		<script src="js/modernizr.js"></script>
		<script src="js/moment.js"></script>

		<!-- *************
			************ Vendor Js Files *************
		************* -->
		
		<!-- Megamenu JS -->
		<script src="vendor/megamenu/js/megamenu.js"></script>
		<script src="vendor/megamenu/js/custom.js"></script>

		<!-- Slimscroll JS -->
		<script src="vendor/slimscroll/slimscroll.min.js"></script>
		<script src="vendor/slimscroll/custom-scrollbar.js"></script>

		<!-- Search Filter JS -->
		<script src="vendor/search-filter/search-filter.js"></script>
		<script src="vendor/search-filter/custom-search-filter.js"></script>

		<!-- Date Range JS -->
		<script src="vendor/daterange/daterange.js"></script>
		<script src="vendor/daterange/custom-daterange.js"></script>

		<!-- Apex Charts -->
		<script src="vendor/apex/apexcharts.min.js"></script>
		<script src="vendor/apex/custom/saas/sales.js"></script>
		<script src="vendor/apex/custom/saas/revenue.js"></script>

		<!-- Rating JS -->
		<script src="vendor/rating/raty.js"></script>
		<script src="vendor/rating/raty-custom.js"></script>
		
		<!-- Main Js Required -->
		<script src="js/main.js"></script>

	</body>
</html>